
@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button { 			/*fieldset组合表单中的相关元素*/
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;				/*清除列表风格*/
}

input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}

textarea {
    resize: none;
}

/*防止多行文本框拖动*/
img {
    border: 0;
    vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;			/*合并外边线*/
}

body {
    font: 12px/150% Arial, Helvetica, sans-serif, "\5b8b\4f53";	/*宋体，Unicode，统一码      (修改) */
    color: #666;
    /*background: #F9F9F9;*/
    background-color: #e5e5e5;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    text-decoration: none;
    /*color: #333;*/
}
a:hover {   
    /*color: #c00;       */
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

i, em, s, ins, del, b {
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
}

.col-red {
    color: #C81623 !important;
}

/*公共类*/
.w {
    /*版心 提取 */
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.al {
    text-align: left;
}

.ac {
    text-align: center;
}

.ar {
    text-align: right;
}

.hide {
    display: none;
}

/*-----头部和底部-------*/

.dn-nav {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 110px;
    background-image: url('../images/common/newtopbg.png');   
    /*background-color: #000;*/
    color: #fff;
    font-size: 14px;
}
.dn-nav .logo {
    width: 98px;
    height: 45px;
    background-image: url('../images/common/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 32px;
}
.dn-nav .nav-items {
    margin-top: 45px;
}
.dn-nav .nav-items li{
    width: 101px;
    height: 30px;
    text-align: center;
    position: relative;
}
.dn-nav .nav-items a{
    color: #fff;
}
.dn-nav .nav-items a:hover{
    color: #d92328;
}
.dn-nav .nav-items li .nav-tree {   
    display: none; 
    position: absolute;
    top: 26px;
    width: 100%;    
    background: #fff;
    padding: 10px 0;
}
.dn-nav .nav-items li:hover .nav-tree {
    display: block; 
}
.dn-nav .nav-items li .nav-tree a {
    color: #333;
    line-height: 24px;
}
.dn-nav .nav-items li .nav-tree a:hover {
    color: #d92328;
}
.dn-nav .search {
    position: relative;
    width: 172px;
	height: 33px;
    margin-top: 36px;
    margin-left: 20px;
	background-color: #222222;
	border-radius: 16px;
}
.dn-nav .search input {
    width: 128px;
    background: transparent;
    color: #fff;
    margin: 10px 0 0 10px;
   
}
.dn-nav .search .dn-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    right:16px;
    top:7px;
}
.dn-nav .login {
     margin-top: 36px;
}
.dn-nav .login span {
    margin-left: 5px;
    margin-right: 5px;
}
.dn-nav .login span:hover {
    color:#d92328
}

/*底部*/
.dn-bottom {
    width: 100%;
    height: 834px;
    background-image: url('../images/common/dn-bottom-bg.png');  
    padding-top: 425px;  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dn-bottom .bottom-center {
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 0 auto; 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dn-bottom .bottom-nav {
    width: 800px;
    margin: 0 auto;
}
.dn-bottom .bottom-nav li {
    display: inline-block;
    width: 90px;
    text-align: center;    
    font-size: 15px;
}
.dn-bottom .bottom-nav li a {
    color: #c2c2c2;
}
.dn-bottom .bottom-nav li a:hover {
    color: #d92328;
}
.dn-bottom .bottom-main {
    margin-top: 15px;
    padding: 10px 0;
    height: 210px;
    border-top: 1px solid rgba(255, 255, 255, 0.26);
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);    
}
.dn-bottom .bottom-main .main-left {
    width: 606px; 
    height: 210px;  
    position: relative;
}
.dn-bottom .link {
    padding-top: 20px;
    height: 142px;
    overflow: hidden;   
    font-size: 14px;
    line-height: 24px;
    color: #c2c2c2;
}
.dn-bottom .link a {  
    margin-right: 20px;  
    color: #c2c2c2;
}
.dn-bottom .link a:hover{   
    color: #d92328;
}
.dn-bottom .tip {
    position: absolute;
    left: 0;
    bottom: 17px
}
.dn-bottom .tip li {  
    float: left;
    margin-right: 10px; 
	font-size: 13px;
	color: #3c5d74;
}
.dn-bottom .bottom-main  .main-right {
    width: 560px; 
    height: 210px;  
    position: relative;
    /*background: red;*/
}
.dn-bottom .bottom-main  .main-right .code img{
    float: left;
    margin-right: 30px;
    width: 201px;
    height: 201px;
    margin-top: 5px;
}
.dn-bottom .bottom-main  .main-right .code .top img {
    margin-top: 20px;
    width: 253px;
    height: 66px;
}
.dn-bottom .bottom-main  .main-right .code .bottom img {
    margin-top: 20px;
    margin-left: 20px;
    width: 210px;
    height: 77px;
}
.dn-bottom .bottom-copy {
    width: 700px;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 20px;
    text-align: center;
}
.dn-bottom .bottom-copy a {
    color: rgba(102,102,102,0.81);
}
.dn-bottom .bottom-copy a:hover{   
    color: #d92328;
}

/*常用图标*/
.dn-icon {
    display: inline-block;    
    background-image: url('../images/common/dn-icon.png');
    background-repeat: no-repeat ;
    background-size: 228px 79px;
}
.dn-icon.icon-juediqiusheng {
    width: 28px;
    height: 28px;
    background-position: -80px 0px;
}
.dn-icon.icon-wangzherongyao {
    width: 28px;
    height: 28px;
    background-position: -160px 0px;
}
.dn-icon.icon-news {
    width: 28px;
    height: 28px;
    background-position: -40px 0px;
}
.dn-icon.icon-recommend {
    width: 28px;
    height: 28px;
    background-position: -122px 0px;
}
.dn-icon.icon-anchor {
    width: 28px;
    height: 28px;
    background-position: 0px 0px;
}
.dn-icon.icon-learn {
    width: 28px;
    height: 28px;
    background-position: -200px 0px;
}
.dn-icon.icon-hot {
    width: 14px;
    height: 18px;
    background-position: -50px -54px;
}
.dn-icon.icon-search {
    width: 16px;
    height: 16px;
    background-position: -80px -54px;
}




