

/*首页主体*/
.dn-index-wrap {
    position: relative;
}
    /*首页通用样式-start*/
.dn-index-wrap .more {
    float: right;
    font-size: 14px;
    color: #999;    
}
.dn-index-wrap .more:hover {
    color: #d92328;
}
.dn-index-wrap .title {
    position: relative;
    padding-left: 38px;
    line-height: 36px;
    height: 36px;
    font-size: 22px;
    color: #333;
    /*background: yellow;*/
}
.dn-index-wrap .title i{
    position: absolute;
    top: 4px;
    left:0;
    display: inline-block;
    width: 28px;
	height: 28px;
}
.dn-index-wrap .index-center {
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 0 auto;   
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dn-index-wrap .index-bg {
    position: absolute;
    left: 0;
    top: -243px;
    width: 100%;
    height: 1000px;
    background: url('../images/common/index-bg.png') top center no-repeat;
    z-index: 1;
}
        /*首页通用样式-end*/
/*视频*/
.dn-index-wrap .index-main {
    position: relative;
    z-index: 2;
    width: 1200px;
    height: 605px;  
    margin: 0 auto;
    margin-top: 38px;    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background: #fff;*/
}
.index-main .tab {
    width: 100%;
    height: 100%;
    /*background: red;*/
}
.index-main .tab-pannel-wrap {
    float: left;
    overflow: hidden;
    position: relative;
    width: 1012px;
    height: 100%;
    background: #333;
}
.index-main .tab-pannel-item {
    display: none;
    width: 1012px;
    height: 100%;
    background-size: 1012px 100%;
}
.index-main .tab-pannel-item.active {
    display: block
}
.index-main .tab-nav-wrap {
    float: right;
    overflow: hidden;
    position: relative;
    width: 184px;
    height: 100%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.56)
}
.index-main .tab-nav {
    padding: 5px 6px;
}
.index-main .tab-nav-item {  
    width: 172px;
    height: 95px;
    margin-bottom: 5px;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0,0,0,.6);
    border-radius: 4px;
}
.index-main .tab-nav-item .item-pic {
    position: relative;
    width: 172px;
    height: 95px;
}
.index-main .tab-nav-item .item-pic img {
    display: block;
    width: 172px;
    height: 95px;
    border-radius: 4px;
}
.index-main .tab-nav-item .item-pic .highlight {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 174px;
    height: 95px;
    border: 2px solid #d92328;
    border-radius: 4px;
}
.index-main .tab-nav-item.active .item-pic .highlight,
.index-main .tab-nav-item:hover .item-pic .highlight {
    display: block;
}
.index-main .tab-nav-item .item-pic .highlight .arrow {
    display: block;
    position: absolute;
    top: 50%;
    left: -14px;
    width: 0;
    height: 0;
    margin-top: -6px;
    content: '';
    border: 6px solid transparent;
    border-color: transparent #d92328 transparent transparent;
}

/*游戏列表*/
.dn-index-wrap .index-game {
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 0 auto;  
    margin-top:20px;  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.index-game .game-classify {
    width: 585px;
    overflow: hidden;
}
.index-game .game-classify .text-wrap {
    width: 100%;
	height: 32px;
    line-height: 32px;
    font-size: 12px;
    border-bottom: 1px solid #cfcece;
}
.index-game .game-classify .text-wrap a {
    color: #666;
}
.index-game .game-classify .text-wrap a:hover {
    color: #d92328;
}
.index-game .game-classify .video-wrap {
    margin-top:20px;
}
.index-game .game-classify .video-wrap li{
    width: 188px;
    margin-right: 8px;
}
.index-game .game-classify .video-wrap li:last-child {
     margin-right: 0px;
}
.index-game .game-classify .video-wrap li .img-box{
    position: relative;
}
.index-game .game-classify .video-wrap li img {
    width: 190px;
    height: 105px;
	border-radius: 4px;
}
.index-game .game-classify .video-wrap li .pic-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-out;
    opacity: 0;
    background: #000;
    border-radius: 6px;
    filter: alpha(opacity=0);
}
.index-game .game-classify .video-wrap li:hover .pic-mask {  
    opacity: 0.7;   
    filter: alpha(opacity=0.7);
}
.index-game .game-classify .video-wrap li .pic-play {
    transition: all .3s ease-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    background: url('../images/common/play.png') center no-repeat;
}
.index-game .game-classify .video-wrap li:hover .pic-play {
    opacity: 1;
}
.index-game .game-classify .video-wrap li .info-box {
    position: relative;
    font-size: 14px;    
    line-height: 20px;
    height: 40px;    
    color: #333;
    margin-top:10px;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.index-game .game-classify .video-wrap li:hover .info-box {
    color: #d92328;
}
.index-game .game-classify .video-wrap li .info-box .read {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding-left: 20px;
    font-size: 12px;
    background: #e5e5e5;
}
.index-game .game-classify .video-wrap li .info-box .read i {
    display: inline-block;
    width: 14px;
    height: 18px;
    position: absolute;
    top:0px;
    left: 2px;
}
/*活动推荐*/
.dn-index-wrap .index-activity {
    position: relative;
    z-index: 2;
    width: 1200px;
    margin: 0 auto;  
    margin-top:20px;  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dn-index-wrap .activity-wrap {
    margin-top:20px;
}
.index-activity .activity-left img {
    width: 586px;
    height: 321px;
    border-radius: 6px;
}
.index-activity .activity-middle {
    margin-left: 28px;
}
.index-activity .activity-middle img {
    width: 184px;
    height: 321px;
    border-radius: 6px;
}
.index-activity .activity-right .bottom {
    margin-top: 27px;
}
.index-activity .activity-right  img{
    width: 375px;
    height: 147px;
    border-radius: 6px;
}
/*资讯*/
.dn-index-wrap .index-news {
    margin-top: 32px;
    width: 785px;
    height: 386px;
    padding: 20px 20px 10px 20px;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.index-news .news-wrap {
   margin-top: 10px;
}
.index-news .news-item {
    font-size: 16px;
    color: #333;
    height: 30px;
    line-height: 30px;
}
.index-news .news-item.hot {
    color: #d92328;
}
.index-news .news-item.hot .news-content a {
    color: #d92328;
}
.index-news .news-item .news-content {
    display: inline-block;
    padding-left: 10px;
    width: 580px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-news .news-item .news-content a {
     color: #333;   
}
.index-news .news-item .news-content a:hover {
    color: #d92328;
    text-decoration: underline;
}
.index-news .news-item .news-time {
    float: right
}
/*游戏推荐*/
.dn-index-wrap .index-recommend {
    margin-top: 32px;
    width: 384px;
    height: 386px;
    padding: 15px 10px 16px 16px;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
.index-recommend .tab-nav-item {
    display: inline-block;
    width: 115px;
	height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    background: #e7e7e7;
}
.index-recommend .tab-nav-item:hover,
.index-recommend .tab-nav-item.active {
    background: #d92328;
    color: #fff;
}
.index-recommend .tab-pannel-wrap {
    margin-top: 18px;
}
.index-recommend .tab-pannel-wrap .tab-pannel-item {
    display: none;
}
.index-recommend .tab-pannel-wrap .tab-pannel-item.active {
    display: block;
}
.index-recommend .tab-pannel-item .item-box {
    margin-bottom: 15px;
}
.index-recommend .tab-pannel-item .item-left img{
    width: 122px;
	height: 92px;
}
.index-recommend .tab-pannel-item  .item-right {
    width: 215px;
    height: 92px;
    position: relative;
    /*background: red*/
}
.index-recommend .tab-pannel-item  .item-right .header{ 
    height: 28px;  
	font-size: 16px;
    font-weight: 700;	
	line-height: 28px;
	color: #333333;
}
.index-recommend .tab-pannel-item  .item-right .text{ 
    height: 20px;  
	font-size: 13px;	
	line-height: 20px;
	color: #999;
}
.index-recommend .tab-pannel-item  .item-right .button {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 73px;
	height: 27px;
	background-color: #fcdcdc;
	border-radius: 4px;
	border: solid 1px #d92328;
    color: #d92328;
}
/*bannner*/
.dn-index-wrap .index-banner {
    margin-top: 32px;
}
.dn-index-wrap .index-banner img{
    width: 100%;
    height: 107px;
}

/*主播*/
.dn-index-wrap .index-anchor {
    margin-top: 32px;
    width: 785px;
    height: 673px;
    padding: 20px 20px 10px 20px;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.index-anchor .anchor-wrap {
   margin-right: -105px;
   padding-left: 44px;
}
.index-anchor .anchor-item {
   position: relative;
   width: 149px;
   height: 238px;
   margin-right: 105px;
   margin-top: 40px;   
}
.index-anchor .anchor-item .img {
   position: relative;
   width: 149px;
   height: 188px;  
}
.index-anchor .anchor-item .img .img-pic{
   width: 149px;
   height: 188px;
   position: absolute;
   top:0;
   left:0;
   z-index:10;
}
.index-anchor .anchor-item .img .img-bg {
   width: 150px;
   height: 150px;
   background: #f2f2f2;
   position: absolute;
   bottom:0;
   left:-2px;
   z-index:9;
   border-radius: 150px;
}
.index-anchor .anchor-item:hover .img .img-bg {
  border: 1px solid #d92328;
}
.index-anchor .anchor-item .content {
   width: 149px;
   height: 50px;
}
.index-anchor .anchor-item .content .name { 
    text-align: center;  
    line-height: 30px; 
	font-size: 18px;	
	color: #333333;
}
.index-anchor .anchor-item .content .info { 
    text-align: center;   
	font-size: 12px;	
	color: #999;
}
.index-anchor .anchor-item .anchor-info {
    display: none;
    position: absolute;
    /*bottom: -238px;*/
    left: 0;
    z-index: 11;
    /*margin-left:-339px;*/
    width: 678px;
	background-color: #f2f2f2;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.21);
	border-radius: 4px;
}
.index-anchor .anchor-item:hover .anchor-info {
    display: block;
}
.index-anchor .anchor-info .info-wrap {
    width: 100%;
    padding: 22px 33px 21px 33px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    position: relative;
}
.index-anchor .anchor-info .info-wrap .logo {
    position: absolute;
    right: 18px;
    top:18px;
}
.index-anchor .anchor-info .info-wrap .info-title {
    width: 333px;
    padding-bottom: 5px;
    font-size: 22px;
    color: #333333;
    line-height: 30px;
    border-bottom: 1px solid #cfcece;
}
.index-anchor .anchor-info .info-wrap .info-content {
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #333;
}
.index-anchor .anchor-info .info-wrap .info-content .name {
    font-weight: 700;
    margin-right: 10px;
}
.index-anchor .anchor-info .info-wrap .info-content img {
    margin-right: 5px;
}

/*微博*/
.dn-index-wrap .index-weibo {
    margin-top: 32px;
    width: 384px;
    height: 673px;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(67,67,67)
}
/*电竞时刻*/
.dn-index-wrap .index-learn {
    margin-top:20px;
}
.dn-index-wrap .index-learn .learn-wrap {
    margin-top:10px;
}
.dn-index-wrap .index-learn .top-left {
    width: 591px;
    height: 429px;
}
.dn-index-wrap .index-learn .top-right {
    width: 591px;
    height: 429px;
}
.dn-index-wrap .index-learn .top-right-bottom {
    margin-top: 15px;
}
.dn-index-wrap .index-learn .learn-bottom {
    margin-top: 15px;
}
.dn-index-wrap .index-learn .learn-bottom li {
    margin-right: 15px
}
.dn-index-wrap .index-learn .learn-bottom li:last-child {
    margin-right: 0px;
}
.index-learn .learn-main {
    width: 591px;
    height: 429px;
    background: red;
}
.index-learn .learn-main .main-wrap {
    width: 591px;
    height: 429px;
    position: relative;
}
.index-learn .learn-main .main-wrap img {
    width: 591px;
    height: 429px;
}
.index-learn .learn-main .main-content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 82px;
	background-color: rgba(0, 0, 0, 0.38);
}
.index-learn .learn-main .main-content .text {
    padding: 0 20px;
    font-size: 22px;	
	line-height: 60px;
    overflow: hidden;    
	color: #fff;
}
.index-learn .learn-main .main-content .read {    
    position: absolute;
    right: 30px;
    bottom: 30px;
    padding-left: 20px;
    font-size: 12px;
    color: #fff;
}
.index-learn .learn-main .main-content .read i {
    display: inline-block;
    width: 14px;
    height: 18px;
    position: absolute;
    top:0px;
    left: 2px;
}

.index-learn .learn-item {
    width: 288px;
    height: 207px;
    background: yellow;
}
.index-learn .learn-item .item-wrap {
    width: 288px;
    height: 207px;
}
.index-learn .learn-item .item-wrap .item-img {
    width: 288px;
    height: 157px;
    position: relative;
}
.index-learn .learn-item .item-wrap img {
    width: 288px;
    height: 157px;
}

.index-learn .learn-item .item-wrap .pic-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease-out;
    opacity: 0;
    background: #000;
    border-radius: 6px;
    filter: alpha(opacity=0);
}
.index-learn .learn-item:hover .item-wrap .pic-mask {  
    opacity: 0.7;   
    filter: alpha(opacity=0.7);
}
.index-learn .learn-item .item-wrap .pic-play {
    transition: all .3s ease-out;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    background: url('../images/common/play.png') center no-repeat;
}
.index-learn .learn-item:hover .item-wrap .pic-play {
    opacity: 1;
}


.index-learn .learn-item .item-wrap .item-content {    
    position: relative;
    width: 100%;
	height: 50px;
	background-color: #fff;
}
.index-learn .learn-item .item-wrap .item-content .text {
    padding: 0 9px;
    font-size: 14px;	
	line-height: 30px;
    overflow: hidden;    
	color: #333;
}
.index-learn .learn-item:hover .item-wrap .item-content .text {
     color: #d92328;
}
.index-learn .learn-item .item-wrap .item-content  .read {    
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding-left: 20px;
    font-size: 12px;
    color: #666;
}
.index-learn .learn-item:hover .item-wrap .item-content  .read {
     color: #d92328;
}
.index-learn .learn-item .item-wrap .item-content  .read i {
    display: inline-block;
    width: 14px;
    height: 18px;
    position: absolute;
    top:0px;
    left: 2px;
}
